block vars
//- TEMPLATE
include ./js.jade
include ./mixins.jade

-
	letterWidth = letterWidth || 600

| <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
html(lang="en" xmlns:v="urn:schemas-microsoft-com:vml")
	head
		+head()
	body
		center.wrapper
			.webkit
				| <!--[if (gte mso 9)|(IE)]> !{'<table width="' + letterWidth + '" align="center"><tr><td>'} <![endif]-->
				+table({"class":"outer", "align":"center"})
					tr
						td
							//- table(width="820" border="0" cellpadding="0" cellspacing="0" class="container" id="spacer-600" style="width:820px;max-width:820px;min-width:820px").
							//- 	<tr>
							//- 	  <td>
							//- 	    <img src="http://multimedia.email.fbs.com/fbs/1/1/photos/4036.png" border="0" alt="" width="820" height="1" hspace="0" vspace="0" style="width:820px;min-width:820px">
							//- 	  </td>
							//- 	</tr>
							block letter
							if GR && IF
								| {{ENDIF}}
				| <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

		//- div(class="gmailfix" style="white-space:nowrap; font:15px courier; line-height:0;") &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

		table(width="820" border="0" cellpadding="0" cellspacing="0" class="container" id="spacer-600" style="width:820px;max-width:820px;min-width:820px").
			<tr>
			  <td>
			    <img src="https://unsplash.it/600/1" border="0" alt="" width="820" height="1" hspace="0" vspace="0" style="width:820px;min-width:820px">
			  </td>
			</tr>


