block vars
//- TEMPLATE
include ./js.jade
include ./mixins.jade

| <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
html(lang="en" xmlns:v="urn:schemas-microsoft-com:vml")
	head
		+head()
	body
		center.wrapper
			.webkit
				block letter
				if GR && IF
					| {{ENDIF}}
